<form action="api/add" method="post" enctype="application/x-www-form-urlencoded">
    <label for="Title">Title: </label>
    <input type="text" name="Title" />
    <br />
    <label for="Firstname">Firstname: </label>
    <input type="text" name="Firstname" />
    <br />
    <label for="Surname">Surname: </label>
    <input type="text" name="Surname" />
    <br />
    <label for="AddressLineOne">AddressLineOne: </label>
    <input type="text" name="AddressLineOne" />
    <br />
    <label for="AddressLineTwo">AddressLineTwo: </label>
    <input type="text" name="AddressLineTwo" />
    <br />
    <label for="AddressLineThree">AddressLineThree: </label>
    <input type="text" name="AddressLineThree" />
    <br />
    <label for="AddressLineThree">AddressLineFour: </label>
    <input type="text" name="AddressLineFour" />
    <br />
    <label for="Postcode">Postcode: </label>
    <input type="text" name="Postcode" />
    <br />
    <label for="Telephone">Telephone: </label>
    <input type="text" name="Telephone" />
    <br />
    <label for="Age">Age: </label>
    <input type="text" name="Age" />
    <br />
    <button type="submit">Submit</button>
    <br />
    <a href="~/">Back</a>
</form>