<label for="liinp">Search: </label>
<input type="text" onchange="GetAllParam()" id="listinp" name="liinp" />

<select id="userlist">
    <option>Default</option>
</select>
<button onclick="Remove()">Remove</button>
<br />
<a href="~/">Back</a>
